@model MusicLesson.Models.Lessons


@{
    ViewData["Title"] = "Create";
}
<h4>Lessons</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <select asp-for="StudentID" class="form-control" asp-items="ViewBag.StudentID"><option disabled selected> Select a Student </option></select>
            </div>
            <div class="form-group">
                <label asp-for="InstrumentID" class="control-label"></label>
                <select asp-for="InstrumentID" class="form-control" asp-items="ViewBag.InstrumentID"><option disabled selected> Select an Instrument </option></select>
            </div>
            <div class="form-group">
                <label asp-for="TutorID" class="control-label"></label>
                <select asp-for="TutorID" class="form-control" asp-items="ViewBag.TutorID"><option disabled selected> Select a Tutor </option></select>
            </div>
            <div class="form-group">
                <label asp-for="DurationID" class="control-label"></label>
                <select asp-for="DurationID" class="form-control" asp-items="ViewBag.DurationID"><option disabled selected> Select Duration </option></select>
            </div>
            <div class="form-group">
                <label asp-for="LessonDateTime" class="control-label"></label>
                <input asp-for="LessonDateTime" class="form-control" />
                <span asp-validation-for="LessonDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LetterID" class="control-label"></label>
                <select asp-for="LetterID" class="form-control" asp-items="ViewBag.LetterID"><option disabled selected> Select a Student </option></select>
            </div>
            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>
                <input asp-for="Term" class="form-control" />
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermStartDate" class="control-label"></label>
                <input asp-for="TermStartDate" class="form-control" />
                <span asp-validation-for="TermStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
